:root {
  --background-color: rgb(27, 27, 27);
  --text-color: rgb(221, 222, 227);
  --card-color: rgb(109, 109, 110);
  --blue: rgb(121, 121, 170);
  --white: white;
  --black-text: rgb(27, 27, 27);
  --gray: rgb(126, 122, 122);
}
