.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid var(--blue);
  box-shadow: 0px 0px 5px var(--blue);
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
  max-height: 200px;
  justify-content: space-between;
  height: 100%;
  color: var(--black-text);
}
.container:hover {
  box-shadow: 0px 0px 15px var(--blue);
}

.title {
  margin: 0;
  font-size: 15px;
  flex-grow: 1;
  min-height: 52px;
}
.brand {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  flex-grow: 0;
}
.price {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  flex-grow: 0;
}
.id {
  font-size: 10px;
  color: var(--gray);
  margin: 0;
}
