.header {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  align-items: center;
}

.logo {
  flex-grow: 0;
}
.title {
  font-weight: 500;
  color: var(--text-color);
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
