.header {
  padding: 10px 20px;
  display: flex;
  max-width: 1280px;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  align-items: center;
}

.logo {
  flex-grow: 0;
}
.title {
  font-weight: 50px;
  color: var(--text-color);
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
