.footer {
  padding: 10px 20px;
  display: flex;
  border-top: 1px solid var(--text-color);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts_list_item {
  margin: 10px 0;
}

.contacts_item {
  color: var(--text-color);
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
}
.contacts_item:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}
